{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row text-center justify-content align-items-center">
<h1 class="mt-4 mb-3"><b>Kanso</b></h1>
<h3 class="mt-4 mb-5" style="font-weight: 200;">An open source framework for the scalable deployment of generative models (LLMs) on Kubernetes using KServe.</h3>
<div class="row mb-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body text-center align-items-center">
                <a href="/models">View Running Models</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body text-center align-items-center">
                <a href="/manage">Manage Models</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body text-center align-items-center">
                <a href="/deploy">Deploy New Model</a>
            </div>
        </div>
    </div>
</div>
<p>Use the sidebar to navigate between Models and Manage pages.</p>
</div>
</div>
{% endblock %}